/config/setting.inc.json
/public/media/sites
/node_modules
/vendor
/src/Modules
/src/Themes
/storage/*
/.git
/.idea
/.data
/log
/docker
/coverage
/tests/_output/*
/tests/phpunit/config/setting.inc.json
/.sonar
backup.sh
npm-debug.log
migrations-db.php
sonar-project.properties
