@media (min-width: 992px) {
	.boxed-wrapper {
		max-width:1030px;
	}
}
@media (min-width: 1200px) {
	.boxed-wrapper {
		max-width:1270px;
	}
}
@media (min-width: 993px) and (max-width: 1199px) {
	.menuzord-menu > li > a {
    	padding: 26px 8px;
	}
}
@media (max-width: 991px) {
	.b-settings-panel  {
		display:none;
	}
	#shop-sidebar-home {
		margin-top: 70px;
		position: relative;
		z-index: 1000;
	}
	.contact-text {
		margin-bottom: 30px;
		width: 50%;
		float: left;
		padding: 0 20px 0 0;
	}
	.left-content, .bg-left{
		position:relative;
		margin:0 !important;
		padding:0;
	}
}
/* All Mobile Sizes (devices and browser) */
@media (max-width: 767px) {

	body {
		margin:0;
		padding:0;
	}
	.menuzord-responsive .menuzord-brand{
		margin:15px 0;
	}
	.menuzord .showhide{
		padding:0;
		margin:24px 0 0 0;
		width:20px;
	}
	.menuzord .showhide em{
		width:20px;
		margin:3.5px 0 0;
	}
	.menuzord-menu > li.link-circle span.indicator{
		display:block;
	}
	.menuzord-responsive .menuzord-menu > li.link-circle > a{
		padding:12px 20px 0 20px;
		border:none;
		float:none;
		display:inline-block;
	}
	.menuzord-menu > li.link-circle a i{
		top:0;
	}
	.menuzord-responsive .menuzord-menu ul.dropdown, .menuzord-responsive .menuzord-menu ul.dropdown li ul.dropdown, .menuzord-responsive .menuzord-menu > li > .megamenu{
		box-shadow:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
	}
	
	.home-pad{
		padding-top:80px;
	}
	.ipad-img{
		position:relative;
		top:0;
		text-align:center;
	}
	.menu-search{
		float:left;
	}
	.nav-contact ul li{
		padding:0 15px 0 0;
	}
	header .style-one .top-bar [class*="col-"]:first-child{
		text-align:left;
	}
	header .style-one .top-bar [class*="col-"]:last-child{
		margin-top:0;
	}
	.logo{
		margin-bottom:15px;
	}
	.tweet-text.follow-btn{
		display:block;
		text-align:center;
		width:auto;
		margin-top:25px;
	}
	.owl-nav{
		position:relative;
		text-align:center;
		top:0;
		margin:20px 0 0 0;
	}
	.owl-nav .owl-prev, .owl-nav .owl-next{
		float:none;
	}
	.owl-nav .owl-prev, #portfolio-single .owl-nav .owl-prev, #home-portfolio .owl-nav .owl-prev{
		left:-10px;
	}
	.owl-nav .owl-next, #portfolio-single .owl-nav .owl-next, #home-portfolio .owl-nav .owl-next{
		right:-10px;
	}
	#portfolio-single .owl-nav .owl-prev, #home-portfolio .owl-nav .owl-prev, #portfolio-single .owl-nav .owl-next, #home-portfolio .owl-nav .owl-next, #shop-featured .owl-nav{
		margin-top:30px;
	}
	.white-background:after{
		margin-left:0;
	}
	.inner-white [class*="col-"]{
		padding-right:0;
	}
	.inner-white{
		padding:40px;
	}
	#shop-sidebar-home{
		margin-top:70px;
	}
	#home-featured-sidebar .owl-nav .owl-next{
		right:-10px;
	}
	#home-featured-sidebar .owl-nav .owl-prev{
		left:-10px;
	}
	.blog-wrap, .blog-text{
		padding:20px;
	}
	.author-thumb{
		margin:0px 20px 25px 0;
	}
	.post-text{
		padding-left:0;
	}
	.pagination a{
		margin-bottom:8px;
	}
	.comment-wrap.reply-comment{
		margin-left:25px;
	}
	
	.right-content{
		margin-left:0;
	}
	.left-content, .bg-left{
		position:relative;
		margin:0 !important;
		padding:0;
	}
	.hs-content .col-sm-12{
		padding:0;
	}
	
	.offsetting-div blockquote{
		display:block;
		width:100%;
	}
	.offsetting-div h2{
		display:block;
		padding:0;
	}
	.offsetting-div{
		margin-left:0;
		margin-bottom: 0;
	}
	.small-top-pad{
		padding-top:0;
	}
	.error-page{
		padding:0 30px;
	}
	.nav-tabs > li{
		float:none;
	}
	
	
	
	*[class*="callout-"] .text-right, .top-bar .text-right, .footer-links{
		text-align:left;
    }
	.social-icons li{
		padding:0 12px 0 0;
	}
	.top-bar *[class*="col-"]:last-child, .copyright *[class*="col-"]:last-child{
		margin-top:10px;
	}
	
	#body-content [class*="col-"]:last-child, #body-content .offers-wrap .col-sm-3, .shop-home-wrap [class*="col-"]:last-child{
        margin-bottom: 0;
    }
	
	#body-content [class*="col-"], .shop-home-wrap [class*="col-"]{
        margin-bottom: 40px;
    }
	
	#body-content .menu-wrap [class*="col-"].menu-thumb, .app-download [class*="col-"]:last-child, .footer-top *[class*="col-"]:last-child{
		margin-bottom:0;
	}
	
	.footer-top *[class*="col-"], #body-content #contact_form *[class*="col-"], #body-content [class*="callout-"] [class*="col-"]{
        margin-bottom: 20px;
    }
	#body-content .singup-wrap [class*="col-"]:last-child, .singup-wrap h1, *[class*="col-"]:last-child .footer-wrap-2, #body-content .smart-mar, #body-content .white-bg [class*="col-"]{
        margin-bottom: 0px;
    }
	*[class*="col-"] .footer-wrap{
        margin-bottom: 60px;
    }
	
	#body-content .fontawesome-icons ul li[class*="col-"]{
		margin-bottom:8px;
	}
	.slider-head, h1{
		font-size:30px;
	}
	.fullwidth-mobile{
		width:100%;
	}
	.icon-small-round {
		margin-top:0;
	}
	.style-2 header #nav-wrap {
		margin:0 15px;
	}
	.hs-recent-posts{
		margin-top:0;
	}
	.hs-content {
		padding: 20px 0;
	}
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {
		margin:0;
		padding:0;
	}
	.boxed-wrapper {
		padding:0;
	}
	
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
	body {
		margin:0;
		padding:0;
	}
	
	
}


@media (min-width: 768px) and (max-width: 979px) { 
	.menuzord-responsive .menuzord-brand{
		margin:15px 0;
	}
	.menuzord .showhide{
		padding:0;
		margin:24px 0 0 0;
		width:20px;
	}
	.menuzord .showhide em{
		width:20px;
		margin:3.5px 0 0;
	}
	.menuzord-menu > li.link-circle span.indicator{
		display:block;
	}
	.menuzord-responsive .menuzord-menu > li.link-circle > a{
		padding:12px 20px 0 20px;
		border:none;
		float:none;
		display:inline-block;
	}
	.menuzord-menu > li.link-circle a i{
		top:0;
	}
	.menuzord-responsive .menuzord-menu ul.dropdown, .menuzord-responsive .menuzord-menu ul.dropdown li ul.dropdown, .menuzord-responsive .menuzord-menu > li > .megamenu{
		box-shadow:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
	}
	.ipad-img{
		position:relative;
		top:0;
		text-align:center;
	}
	
	#body-content [class*="col-"], *[class*="col-"].footer-wrap, .app-download [class*="col-"]{
        margin-bottom: 40px;
    }
	.footer-top *[class*="col-"], .footer-5 *[class*="col-"]{
        margin-bottom: 20px;
    }
	#body-content [class*="col-"]:last-child, .footer-top *[class*="col-"]:last-child, .footer-5 *[class*="col-"]:last-child{
        margin-bottom: 0px;
    }
	
	#body-content .row.smart-mar [class*="col-"]:nth-child(n+3){
		margin-bottom:0;
	}
	#body-content [class*="callout-"] .row [class*="col-"]{
		margin-bottom:0;
	}
	.smart-mar.small-top-pad, .smart-mar.home-pad{
		padding-top:0;
	}
	.inner-white{
		padding:40px;
	}
	.icon-small-round{
		margin:0;
	}
	.inner-white [class*="col-"]{
		padding-right:0;
	}
	.white-background:after{
		margin-left:0;
	}
	.menu-search{
		float:left;
	}
	.alert{
		margin-bottom:0;
	}
	.tweet-text.follow-btn{
		display:block;
		text-align:center;
		width:auto;
		margin-top:25px;
	}
	.owl-nav .owl-prev{
		left:20px;
	}
	.owl-nav .owl-next{
		right:20px;
	}
	#shop-sidebar-home{
		margin-top:70px;
	}
	.shop-blog img{
		width:100%;
	}

	.right-content{
		margin-left:0;
	}
	
	.boxed-wrap{
		padding:0;
	}
	.boxed-wrap{
		padding:0;
	}
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	body {
		margin:0;
		padding:0;
	}
	.boxed-wrap{
		padding:0;
	}
	.background{
		background-size:cover !important;
	}
	.shop-carts-btn{
		text-align:center;
	}
	.shop-carts-btn .pull-left{
		margin-bottom:10px;
	}
	.shop-carts-btn .pull-left, .shop-carts-btn .pull-right{
		float:none !important;
	}
	.contact-text {
		margin-bottom: 30px;
		width: 100%;
		float: none;
	}
}