/*--------------------------------------------------------------------

  PROJECT:  NOOTheme Demo Theme Switcher
  AUTHOR:   Lian Nguyen - NOOTheme
  AUTHOR URI: http://demos.nootheme.com

  ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*    RESET - http://meyerweb.com/eric/tools/css/reset/
/*--------------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--------------------------------------------------------------------*/
/*  GENERAL STYLES
/*--------------------------------------------------------------------*/
body {
    background: #ffffff;
    font: 14px Helvetica, Arial, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}
body.full {
    background: #17151B;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.sprite {
    background: url(../../img/preview/sprite.png) no-repeat;
}
.hide_content {
    display: none !important;
}
/*--------------------------------------------------------------------*/
/*  RESPONSIVE IFRAME
/*--------------------------------------------------------------------*/
html {
    height: 100%;
}
#iframe {
    height: 100%;
    background-color: #ffffff;
}
#iframe-wrap {
    position: relative;
    z-index: 50;
    height: 100%;
    margin: 0 auto;
    overflow: visible;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.desktop-resize {
    width: 100%;
    height: 100%;
}
.ipad-portrait-resize {
    height: 1024px!important;
    margin: 0 auto;
    margin-top: 40px!important;
    padding: 79px 77px 140px 69px;
    width: 767px;
    background: url(../../img/preview/ipad.png) no-repeat;
}
.ipad-landscape-resize {
    height: 767px!important;
    margin: 0 auto;
    margin-top: 40px!important;
    padding: 72px 126px 140px 70px;
    width: 1024px;
    background: url(../../img/preview/ipad-landscape.png) no-repeat;
}
.iphone-resize {
    height: 568px!important;
    margin: 40px auto!important;
    margin-bottom: 50px;
    padding-top: 40px;
    width: 320px;
    background: url(../../img/preview/iphone.png) no-repeat;
    padding: 90px 25px 160px 31px;
}
.iphone-landscape-resize {
    height: 320px!important;
    margin: 40px auto!important;
    margin-bottom: 50px;
    padding-top: 40px;
    width: 568px;
    background: url(../../img/preview/iphone-landscape.png) no-repeat;
    padding: 26px 122px 32px 84px;
}
.ipad-portrait-resize,
.ipad-landscape-resize,
.iphone-resize,
.iphone-landscape-resize {
    -webkit-transition: 0s!important;
    -moz-transition: 0s!important;
    -o-transition: 0s!important;
    transition: 0s!important;
}
/*--------------------------------------------------------------------*/
/*  SWITCHER BASE
/*--------------------------------------------------------------------*/
#container {
    height: 55px;
}
@media (max-width: 400px) {
    #container {
        height: 40px;
    }
}
#container #switcher {
    background-color: #333237;
    position: fixed;
    font-size: 14px;
    height: 55px;
    width: 100%;
    z-index: 999999;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
@media (max-width: 400px) {
    #container #switcher {
        height: 40px;
    }
}
#container #switcher li.branding {
    height: 55px;
    padding: 0 5px;
    margin-right: 15px;
}
@media (max-width: 1200px) and (min-width: 768px) {
    #container #switcher li.branding {
        margin-right: 5px;
        padding: 0 10px;
    }
}
@media (max-width: 767px) {
    #container #switcher li.branding {
        padding: 0 2px;
        margin-right: 5px;
    }
}
@media (max-width: 480px) {
    #container #switcher li.branding {
        display: none;
    }
}
#container #switcher li.branding .logo {
    margin-top: 8px;
    background-size: cover;
    height: 38px;
    width: 125px;
    margin-left: 10px;
    background-size: 100% 100%;
    opacity: 0.9;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: url(../../img/Logo-webzy-white.png) no-repeat 0 0;
    background-size: contain;
}
@media (max-width: 1024px) {
    #container #switcher li.branding .logo {
        margin-top: 15px;
        margin-left: 15px;
        height: 25px;
        width: 180px;
    }
}
#container #switcher li.branding .logo:hover {
    opacity: 1;
}
#container #switcher li.branding .logo a {
    display: block;
    height: 30px;
}
#container #switcher li.resize {
    height: 55px;
}
#container #switcher li.resize ul {
    height: 100%;
}
#container #switcher li.resize ul li {
    display: inline-block;
    height: 100%;
    float: left;
}
#container #switcher li.resize ul li a.resize-icon {
    height: 100%;
    display: block;
    width: 40px;
}
#container #switcher li.resize ul li a.resize-icon:hover {
    background-color: #1fd5ea;
}
#container #switcher li.resize ul li a.active {
    background-color: #47bdcc;
}
#container #switcher li.resize ul li a.resize-icon.desktop {
    background-position: -72px 13px;
}
#container #switcher li.resize ul li a.resize-icon.ipad-portrait {
    background-position: -107px 13px;
}
#container #switcher li.resize ul li a.resize-icon.ipad-landscape {
    background-position: -142px 13px;
}
#container #switcher li.resize ul li a.resize-icon.iphone {
    background-position: -175px 13px;
}
#container #switcher li.resize ul li a.resize-icon.iphone-landscape {
    background-position: -205px 13px;
}
@media (max-width: 1023px) {
    #container #switcher li.resize {
        display: none;
    }
}
#switcher > li {
    float: left;
    position: relative;
}
/*--------------------------------------------------------------------*/
/* THEME SELECTOR
/*--------------------------------------------------------------------*/
li.bold-item {
    float: left;
    background-color: #47bdcc;
    color: #FFF;
    display: block;
    font-weight: 300;
    line-height: 55px;
    height: 55px;
    font-size: 14px;
    width: 240px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    font-family: 'Roboto';
}
@media (max-width: 400px) {
    li.bold-item {
        line-height: 40px;
        height: 40px;
    }
}
@media (max-width: 1200px) and (min-width: 768px) {
    li.bold-item {
        width: 180px;
    }
}
@media (max-width: 767px) {
    li.bold-item {
        width: 180px;
    }
}
li.bold-item a {
    padding-left: 15px;
    height: 100%;
    display: block;
}
@media (max-width: 1200px) and (min-width: 768px) {
    li.bold-item a {
        padding-left: 5px;
    }
}
@media (max-width: 767px) {
    li.bold-item a {
        padding-left: 5px;
    }
}
li.bold-item a span.menu-icon {
    background-position: 0px 13px;
    position: absolute;
    height: 55px;
    right: 0px;
    width: 46px;
}
@media (max-width: 480px) {
    li.bold-item a span.menu-icon {
        background-position: 0px 6px;
    }
}
li.bold-item:hover {
    background-color: #1fd5ea;
    cursor: pointer;
}
li.bold-item:hover > div.dropdown {
    top: 100%;
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
li.bold-item.reverse:hover {
    background-color: #bcb102;
}
/* DROPDOWN STYLES */
.dropdown {
    position: absolute;
    visibility: hidden;
    top: 145%;
    left: 0;
    width: 240px;
    background-color: #333;
    padding: 10px 15px;
    opacity: 0;
    box-sizing: border-box;
}
.dropdown h3.group-title {
    text-align: left;
    line-height: 40px;
}
@media (max-width: 400px) {
    .dropdown h3.group-title {
        font-size: 11px;
        line-height: 20px;
    }
}
.dropdown .items {
    width: 100%;
}
.dropdown .items {
    margin: 0px 0 0;
    list-style: none;
    float: left;
}
.dropdown .items li {
    list-style: none;
    margin: 5px 5px 0px;
    padding: 5px 0px 5px;
    top: 0px;
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 480px) {
    .dropdown .items li {
        margin: 1px 0px;
        padding: 0px 4px;
    }
}
.dropdown .items li span.label {
    padding: 2px;
    border-radius: 5px;
    position: absolute;
    top: 2px;
    right: 0px;
    line-height: 16px;
    padding-left: 6px;
    padding-right: 6px;
    color: rgba(255, 255, 255, 0.7);
    float: right;
    font-size: 13px;
    background-color: #938b00;
}
@media (max-width: 1024px) {
    .dropdown .items li span.label {
        display: none;
    }
}
.dropdown .items li span.update {
    background: rgba(255, 0, 0, 0.32);
}
.dropdown .items li span.new {
    background: rgba(255, 255, 0, 0.5);
}
.dropdown .items li:hover img {
    opacity: 1;
}
@media (max-width: 1023px) {
    .dropdown .items li:hover img {
        opacity: 0;
    }
}
.dropdown .items li img {
    position: absolute;
    left: 460px;
    top: 0;
    border: 5px solid #333237;
    display: block;
    z-index: 9999;
    width: 500px;
    height: auto;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}
.dropdown .items li a {
    display: block;
    line-height: 25px;
    padding: 0;
    position: relative;
    color: rgba(255, 255, 255, 0.5);
}
.dropdown ul li {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.dropdown:hover li.active a,
.dropdown li.active a {
    color: #ffffff;
}
.dropdown:hover li.active a span,
.dropdown li.active a span {
    background-color: #bcb102;
    color: #ffffff;
}
.dropdown:hover li a {
    color: #797F88;
}
.dropdown:hover li:hover a,
.dropdown:hover li.active a {
    color: #ffffff;
}
.dropdown:hover li:hover a span,
.dropdown:hover li.active a span {
    background-color: #bcb102;
    color: #ffffff;
}
/* SPAN STYLES (BADGES) */
span.themenew,
span.themehot,
span.themefree {
    cursor: pointer;
    float: right;
    font-size: 10px;
    margin: 4px -7px 0 0;
    display: block;
    padding: 5px 7px;
    background-color: #47BFA9;
    color: #FFF;
    line-height: 7px;
    border-radius: 200px;
    height: 7px;
    width: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 1!important;
}
span.themefree {
    background-color: #5DC279;
}
span.themehot {
    background-color: #D50707;
}
/* THUMBNAILS */
/*--------------------------------------------------------------------*/
/* RESIZE ICONS
/*--------------------------------------------------------------------*/
.resize li:first-child {
    margin-left: 30px;
}
/*--------------------------------------------------------------------*/
/*  RIGHT SIDE (PURCHASE AND CLOSE BUTTON)
/*--------------------------------------------------------------------*/
li.bold-item.signup,
li.bold-item.purchase {
    float: right!important;
    width: 145px;
    padding-right: 10px;
    margin-right: 0px!important;
    position: relative;
}
@media (max-width: 480px) {
    li.bold-item.signup,
    li.bold-item.purchase {
        float: left!important;
        width: 30px!important;
        margin-left: 3px;
        display: none;
    }
}
li.bold-item.signup {
    width: auto;
    padding-right: 15px;
}
span.extension-icon,
span.cart-icon {
    background-position: -48px 0px;
    height: 25px;
    position: absolute;
    top: 11px;
    right: 30px;
    width: 19px;
}
@media (max-width: 480px) {
    span.extension-icon,
    span.cart-icon {
        right: 10px!important;
    }
}
span.extension-icon {
    background: url(../../img/preview/extension.png) center center no-repeat;
}
/* BUTTON SHAKE - HEADER SEARCH AND NEWSLETTER WIDGET */
@-webkit-keyframes BeanButtonShake {
    2%,
    6% {
        -webkit-transform: translateX(3px);
    }
    4%,
    8% {
        -webkit-transform: translateX(-3px);
    }
    10%,
    100% {
        -webkit-transform: translateX(0px);
    }
}
@-moz-keyframes BeanButtonShake {
    0%,
    100% {
        -moz-transform: translateX(0);
    }
    2%,
    6% {
        -moz-transform: translateX(3px);
    }
    4%,
    8% {
        -moz-transform: translateX(-3px);
    }
    10%,
    100% {
        -moz-transform: translateX(0px);
    }
}
@-o-keyframes BeanButtonShake {
    2%,
    6% {
        -o-transform: translateX(3px);
    }
    4%,
    8% {
        -o-transform: translateX(-3px);
    }
    10%,
    100% {
        -o-transform: translateX(0px);
    }
}
@keyframes BeanButtonShake {
    2%,
    6% {
        transform: translateX(3px);
    }
    4%,
    8% {
        transform: translateX(-3px);
    }
    10%,
    100% {
        transform: translateX(0px);
    }
}
li.remove_frame {
    float: right!important;
    position: relative;
}
li.remove_frame a {
    background-position: -235px 13px;
    display: block;
    height: 100%;
    top: 16px;
    width: 100%;
}
li.remove_frame a:hover {
    background-color: #1fd5ea;
}
@media (max-width: 480px) {
    li.remove_frame a {
        background-position: -238px 6px;
    }
}
li.remove_frame {
    width: 45px;
    height: 55px;
    margin: 0px!important;
}
@media (max-width: 480px) {
    li.remove_frame {
        width: 40px;
        height: 40px;
    }
}
.dropdown.cols.theme {
    width: 460px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
}
@media (max-width: 1023px) {
    .dropdown.cols.theme {
        width: 322px;
        float: right;
    }
}
@media (max-width: 480px) {
    .dropdown.cols.theme {
        width: 300px;
        left: 58px;
        float: right;
    }
}
/*--------------------------------------------------------------------*/
/*  RESPONSIVE
/*--------------------------------------------------------------------*/
@media (max-width: 767px) {
    li.resize {
        display: none;
    }
    .dropdown.cols {
        width: 460px;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    li.bold-item.extension,
    li.bold-item.purchase {
        text-indent: -9999em;
        width: 50px;
    }
    span.extension-icon,
    span.cart-icon {
        right: 20px;
    }
}
@media (max-width: 599px) {
    li.bold-item.extension {
        display: none;
    }
    .dropdown.cols {
        width: 230px;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
/*--------------------------------------------------------------------*/
/*  RETINA CSS
/*--------------------------------------------------------------------*/
#demo-loading {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 5;
}
/*
 * Created By: Ahmed Bouhuolia
 * Twitter: http://twitter.com/abouolia
 */
.spinner-css {
    margin: -25px 0 0 -25px;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.spinner-css:after {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0px;
    top: 0px;
    margin: 2.5px;
    background: #ffffff;
    opacity: 1;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
}
.spinner-css .side {
    height: 50px;
    width: 25px;
    position: absolute;
    overflow: hidden;
    top: 0;
}
.spinner-css .side > .fill {
    position: absolute;
    width: 25px;
    height: 50px;
    background: #BCB102;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    animation: cssSpinnerRight 2s infinite linear;
    -webkit-animation: cssSpinnerRight 2s infinite linear;
    -moz-animation: cssSpinnerRight 2s infinite linear;
    -o-animation: cssSpinnerRight 2s infinite linear;
}
.spinner-css .side.sp_right {
    left: 25px;
    border-radius: 0px 999px 999px 0px;
    -webkit-border-radius: 0px 999px 999px 0px;
    -moz-border-radius: 0px 999px 999px 0px;
}
.spinner-css .side.sp_right > .fill {
    right: 0;
    border-right: 25px solid #ffffff;
}
.spinner-css .side.sp_left {
    left: 0;
    border-radius: 999px 0px 0px 999px;
    -webkit-border-radius: 999px 0px 0px 999px;
    -moz-border-radius: 999px 0px 0px 999px;
}
.spinner-css .side.sp_left > .fill {
    left: 0;
    border-left: 25px solid #ffffff;
    animation: cssSpinnerLeft 2s infinite linear;
    -webkit-animation: cssSpinnerLeft 2s infinite linear;
    -moz-animation: cssSpinnerLeft 2s infinite linear;
    -o-animation: cssSpinnerLeft 2s infinite linear;
}
@-webkit-keyframes cssSpinnerRight {
    0% {
        -webkit-transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(90deg);
    }
    25% {
        -webkit-transform: rotate(180deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    70% {
        -webkit-transform: rotate(270deg);
    }
    75% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes cssSpinnerLeft {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(0deg);
    }
    35% {
        -webkit-transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(180deg);
    }
    80% {
        -webkit-transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes cssSpinnerRight {
    0% {
        -moz-transform: rotate(0deg);
    }
    20% {
        -moz-transform: rotate(90deg);
    }
    25% {
        -moz-transform: rotate(180deg);
    }
    50% {
        -moz-transform: rotate(180deg);
    }
    70% {
        -moz-transform: rotate(270deg);
    }
    75% {
        -moz-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-moz-keyframes cssSpinnerLeft {
    0% {
        -moz-transform: rotate(0deg);
    }
    25% {
        -moz-transform: rotate(0deg);
    }
    35% {
        -moz-transform: rotate(90deg);
    }
    50% {
        -moz-transform: rotate(180deg);
    }
    75% {
        -moz-transform: rotate(180deg);
    }
    80% {
        -moz-transform: rotate(270deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes cssSpinnerRight {
    0% {
        -o-transform: rotate(0deg);
    }
    20% {
        -o-transform: rotate(90deg);
    }
    25% {
        -o-transform: rotate(180deg);
    }
    50% {
        -o-transform: rotate(180deg);
    }
    70% {
        -o-transform: rotate(270deg);
    }
    75% {
        -o-transform: rotate(360deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}
@-o-keyframes cssSpinnerLeft {
    0% {
        -o-transform: rotate(0deg);
    }
    25% {
        -o-transform: rotate(0deg);
    }
    35% {
        -o-transform: rotate(90deg);
    }
    50% {
        -o-transform: rotate(180deg);
    }
    75% {
        -o-transform: rotate(180deg);
    }
    80% {
        -o-transform: rotate(270deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}
@keyframes cssSpinnerRight {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(90deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    70% {
        transform: rotate(270deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes cssSpinnerLeft {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0deg);
    }
    35% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(180deg);
    }
    80% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
