.responses .response-bloc {
  margin: 2em auto;
  position: relative;
  &.error {
    background-color: #fad7d4;
    color: #a94442;
    padding: 15px;
    margin-bottom: 24px;
    border: 1px solid transparent;
    border-color: #f7bec3;
    border-radius: 2px;
  }
  &.success {
    background-color: #d4fad6;
    color: #3c763d;
    padding: 15px;
    margin-bottom: 24px;
    border: 1px solid transparent;
    border-color: #c5f7be;
    border-radius: 2px;
  }
  ul, p {
    margin: 0;
  }
  button.close {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
  }
  p {
    margin: 10px 0;
    i {
      padding-right: 5px;
    }
  }
}
