{% extends "default_layout.html.twig" %}

{% block body %}
    <!-- xxx Breadcrumns Wrap xxx -->
    <section class="fullscreen background parallax image breadcrumb-wrap" data-img-width="1600" data-img-height="1067" data-diff="100">
        <div class="page-overlay"></div>
        <div class="container">
            <h1>Whoops</h1>
            <small><a href="#">Home</a><i class="fa fa-angle-double-right"></i>404 Not Found</small>
        </div>
    </section><!-- xxx Breadcrumns Wrap End xxx -->

    <!-- Main Bodycontent Start -->
    <div id="body-content">
        <section>
            <div class="container">
                <!-- xxx Error Page xxx -->
                <div class="error-page">
                    <img src="{{ asset('404-image.png') }}" alt="Nothing Found 404 Error">
                    <h3>Oops ! La page que vous cherchez n'existe pas  :(</h3>
                    <a href="{{ path('public.page') }}" class="btn-round-bg btn-large">Retour à l'accueil</a>
                </div>
                <!-- xxx Error Page xxx -->
            </div>
        </section>
    </div>
{% endblock %}