{% extends "default_layout.html.twig" %}

{% block body %}
    <div class="center-align mt">
        <h1>405</h1>
        <a class="btn" href="{{ path('public.page') }}">Retour à l'accueil</a>
    </div>
{% endblock %}