{% extends "default_layout.html.twig" %}

{% block body %}

    <!-- xxx Breadcrumns Wrap xxx -->
    <section class="fullscreen background parallax image breadcrumb-wrap blog-bg" data-img-width="1600" data-img-height="1067" data-diff="100">
        <div class="page-overlay"></div>
        <div class="container">
            <h1>Conditions Générales d'Utilisation</h1>
            <small><a href="{{ path('public.page') }}">Accueil</a><i class="fa fa-angle-double-right"></i>CGU</small>
        </div>
    </section><!-- xxx Breadcrumns Wrap End xxx -->

    <!-- Main Bodycontent Start -->
    <div id="body-content">
        <div class="container">
            <h2>1. Généralités</h2>
            <p><span class="cgu_num">1.1.</span> Web-zy.com est un service fourni par DESICO SARL (nommé ci-après "Fournisseur de service"). En vous inscrivant en tant qu'utilisateur auprès de Web-zy.com (nommés ci-après "Utilisateur Web-zy.com"), vous acceptez les termes et conditions généraux d'utilisation (nommés ci-après TCG) concernant l'utilisation de Web-zy.com.
            </p>
            <p><span class="cgu_num">1.2.</span> Les services fournis sont exclusivement destinés aux personnes âgées de 14 ans révolus minimum. 
            </p>
            <p><span class="cgu_num">1.3.</span> Le fournisseur de service se réserve le droit de compléter, d'étendre, de modifier, d'interrompre ou d'améliorer les services proposés, en particulier lorsque de telles mesures sont de nature à faire progresser la technologie utilisée par ses services comme nécessaires pour prévenir des abus. De telles modifications peuvent entrainer des changements dans l'apparence des pages Web-zy.com. Le fournisseur de service ne procèdera à de telles modifications que si elles sont raisonnables et acceptables pour l'utilisateur Web-zy.com, ou si leur exécution est requise par la loi.
            <br>De plus, le fournisseur de service peut, avec le consentement de l'utilisateur Web-zy.com, modifier le contrat passé avec l'utilisateur Web-zy.com. Le consentement à l'amendement est considéré comme donné si l'utilisateur Web-zy.com n'émet pas d'objection au sujet de cet amendement dans le mois suivant la réception de la notification l'informant de cet amendement. Dans la notification d'amendement, le fournisseur de service informera l'utilisateur Web-zy.com des conséquences d'une absence d'objection de sa part.
            </p>
            <br><br>
            
            <h2>2. Objet du contrat, amendement du contrat</h2>
            <p><span class="cgu_num">2.1.</span> Web-zy.com fournit un service en ligne permettant aux utilisateurs de créer leur propre site internet (intitulé Page Web-zy.com). Ce service permet aux utilisateurs d'adapter le design de leur propre page Web-zy.com, de créer et de gérer le contenu du site.
            </p>
            <p><span class="cgu_num">2.2.</span> Les utilisateurs Web-zy.com acceptent que leur facture soit transmise de manière électronique (email). Celle-ci est valable sans signature.
            </p>
            <p><span class="cgu_num">2.3.</span> Tous les services gratuits fournis par le fournisseur de service peuvent être interrompus à n'importe quel moment. Dans un tel cas, l'utilisateur ne pourra réclamer la poursuite de ce type de service.
            </p>
            <p><span class="cgu_num">2.4.</span> Le fournisseur de service se réserve le droit d'utiliser les services de tiers pour améliorer ses propres services.
            </p>
            <br><br>

            <h2>3. Informations personnelles</h2>
            <p>L'utilisateur Web-zy.com certifie que toutes les informations personnelles fournies au fournisseur de service sont vraies et complètes. L'utilisateur Web-zy.com accepte ce faisant l'enregistrement et le stockage électronique par le fournisseur de service des informations fournies. Le fournisseur de service ne transfèrera pas ces informations à des tiers, sauf si l'utilisateur Web-zy.com ne l'y a expressément autorisé ou sauf si un transfert de ces données est nécessaire pour remplir le contrat conclus (par ex. lors de la commande d'un nom de domaine, les informations personnelles de l'utilisateur Web-zy.com seront transmises au service d'enregistrement des noms de domaine utilisé par le fournisseur de service). L'utilisateur Web-zy.com s'engage à maintenir ses informations personnelles à jour. De manière à prévenir les abus par des tiers non-autorisés, l'utilisateur Web-zy.com est tenu de garder ses identifiants de connexion confidentiels.
            </p>
            <br><br>

            <h2>4. Durée et fin du contrat, interruption des services, remboursement des honoraires payés.</h2>
            <p><span class="cgu_num">4.1.</span> Les utilisateurs Web-zy.com peuvent supprimer leur site Web-zy.com à tout moment directement depuis leur site. Pour ce faire, il suffit de se connecter à la page Web-zy.com concernée, puis se rendre dans les paramètres où il est possible de supprimer son compte.
            </p>
            <p><span class="cgu_num">4.2.</span> La durée de validité d'un contrat Web-zy.com est stipulée dans la description du contrat et cette durée de validité est de douze ou vingt-quatre mois selon l’option choisie par l’utilisateur Web-zy.com lors de son abonnement au service.  Ce contrat sera tacitement renouvelé lorsqu'il arrivera à terme pour la même durée, à moins que l'utilisateur n'ait mis fin à ce contrat un mois avant l'expiration de la période contractuelle. Dans le cas d'une résiliation par e-mail, celle-ci doit être envoyée depuis l'adresse e-mail enregistrée par l'utilisateur sur son site Web-zy.com en tant qu’adresse administratrice ou de facturation. La demande de résiliation doit également mentionner le nom d'utilisateur associé au contrat, et la date souhaitée de résiliation, qui peut être le jour ou même, ou lorsque le contrat arrive à son terme.
            </p>
            <p><span class="cgu_num">4.3.</span> Le fournisseur de service peut mettre fin au contrat le liant avec l’utilisateur Web-zy.com de manière unilatérale et sans motif en respectant un préavis de trois mois. Dans pareil cas, le fournisseur de service remboursera les honoraires payés par l'utilisateur au prorata-temporis de la durée contractuelle restante au moment de la résiliation. Le fournisseur de service se réserve le droit de mettre fin au contrat sans préavis dans le cas où l'utilisateur Web-zy.com aurait manqué à ses obligations contractuelles (voir paragraphe 5). De plus, un manquement à ces obligations contractuelles peut engendrer des poursuites civiles ou pénales. Dans pareil cas, les honoraires versés d'avance ne seront pas remboursés.
            En cas de retard de paiement, le fournisseur de service est en droit de bloquer le site de l'utilisateur Web-zy.com, et ce tant que les honoraires n'auront pas été payées. Le fournisseur de service est également en droit de supprimer ("CLOSE") le nom de domaine de l'utilisateur. En acceptant les conditions d'utilisation du fournisseur de service, l'utilisateur lui donne explicitement le droit d'effectuer ce type de résiliation.
            </p>
            <p><span class="cgu_num">4.4.</span> La résiliation d'un service optionnel associé à un contrat Web-zy.com n'affectera pas la relation contractuelle générale.
            </p>
            <p><span class="cgu_num">4.5.</span> Après la fin de la relation contractuelle, le fournisseur de service n'a pas l'obligation de fournir les services précédemment accordés contractuellement à l'utilisateur Web-zy.com. En conséquence, le fournisseur de service est en droit de supprimer tout ou partie des informations de l'utilisateur Web-zy.com présentes sur ces serveurs, y compris les e-mails et le ou les comptes emails de l’utilisateur Web-zy.com. Le transfert des informations relatives au site Web-zy.com de l'utilisateur vers le serveur d'un fournisseur de services tiers ne sera pas possible. Il est donc de la responsabilité de l'utilisateur Web-zy.com de sauvegarder les données hébergées par le fournisseur de service qu'il souhaite conserver avant que le terme de son contrat ne soit atteint. Par ailleurs, le fournisseur de service peut, à la fin du contrat, supprimer ("CLOSE") tout ou partie des domaines de l'utilisateur Web-zy.com qui n'auraient pas été transférés vers un nouveau fournisseur, en faisant appel à l'organisation compétente pour l'attribution des noms de domaine.
            </p>
            <br><br>

            <h2>5. Obligations générales de l'utilisateur Web-zy.com</h2>
            <p><span class="cgu_num">5.1.</span> L'utilisateur Web-zy.com est responsable des contenus qu'il a fournis ou stockés sur sa page Web-zy.com. Le fournisseur de service n'a pas l'obligation d'inspecter les pages Web-zy.com de ses utilisateurs afin de vérifier qu'elles ne violent pas la loi et ne peut par conséquent pas être tenu responsable du contenu de ces pages.
            </p>
            <p><span class="cgu_num">5.2.</span> L'utilisateur Web-zy.com a l’entière responsabilité de s'assurer que son site respecte les lois en vigueur dans son pays, ainsi que celles de la république fédérale d'Allemagne. Cela s'applique également et explicitement à toute loi et réglementation additionnelle s'appliquant à l'exploitation d'une boutique en ligne.
            </p>
            <p><span class="cgu_num">5.3.</span> L'utilisateur Web-zy.com s'engage à ne pas entreprendre d'actions qui pourraient violer ou enfreindre les droits de tiers (y compris leurs droits de personnalité) en utilisant les services de Web-zy.com.
            </p>
            <p><span class="cgu_num">5.4.</span> L'utilisateur Web-zy.com s'engage à ne pas publier de contenus interdits pas la loi ou contraires aux bonnes mœurs (en particulier tout contenu pornographique, raciste, xénophobe, extrémiste ou de toute autre nature répréhensible) ou pouvant nuire aux droits des tiers (cf. notamment les droits de la personnalité, les marques déposées, les droits au nom ou les droits d'auteur). De plus, l'utilisateur Web-zy.com s'engage à ne pas utiliser son site Web-zy.com dans le but d'envoyer des messages électroniques indésirables ou considérés comme du spamming. Si les agissements frauduleux d'un utilisateur Web-zy.com devaient porter atteinte à Web-zy.com ou aux droits de tiers, alors cet utilisateur et ses éventuels co-auteurs devront rembourser à Web-zy.com les frais engendrés par cette conduite. L'utilisateur Web-zy.com s'engage également à soutenir le fournisseur de service dans toutes les démarches qu'il entreprend afin de prévenir et lutter contre de telles conduites.
            </p>
            <p><span class="cgu_num">5.5.</span> L'utilisateur Web-zy.com s'engage à ne pas publier, sur tout autre site que son site Web-zy.com, de liens permettant de télécharger tout fichier hébergé sur son site Web-zy.com.
            </p>
            <p><span class="cgu_num">5.6.</span> L'utilisateur Web-zy.com s'engage à respecter les obligations des mentions légales en vigueur dans son pays. (cf. <span class="cgu_num">5.2</span>)
            </p>
            <p><span class="cgu_num">5.7.</span> L'utilisateur Web-zy.com est dans l'obligation de sauvegarder régulièrement tous les fichiers ou paramètres d'utilisation des logiciels auxquels il a accès. Dans tous les cas, l'utilisateur Web-zy.com est tenu de prendre toutes les mesures de sauvegarde appropriées avant d'entreprendre toute modification de son site Web-zy.com et, attendu que le fournisseur de service ait notifié en temps voulu l'utilisateur, avant que des travaux de maintenance ne soient entrepris par le fournisseur de service. En aucun cas, les copies de sauvegarde réalisées par l'utilisateur Web-zy.com ne seront stockées sur les serveurs du fournisseur de service.</p>
            <p><span class="cgu_num">5.8.</span> Il est interdit à l'utilisateur Web-zy.com d'envoyer un grand nombre d'e-mails avec le même contenu sans le consentement des destinataires (Spam) via les systèmes ou les serveurs du fournisseur de service.</p>
            <p><span class="cgu_num">5.9.</span> L'utilisateur Web-zy.com utilisera les designs fournis par Web-zy.com exclusivement pour sa Page Web-zy.com. Il est expressément interdit à l'utilisateur Web-zy.com de copier la Page Web-zy.com, de la transférer et de l'utiliser sur tout autre serveur que celui du fournisseur de service.
            </p>
            <br><br>

            <h2>6. Interruption des services</h2>
            <p><span class="cgu_num">6.1.</span> Le fournisseur de service s'efforcera de s'assurer que les services sont accessibles et fonctionnent correctement à tout moment. L'utilisateur Web-zy.com reconnaît cependant que pour des raisons techniques, ainsi qu’à cause de la dépendance du fournisseur de services vis à vis de facteurs extérieurs (Par exemple: les réseaux de télécommunication), la disponibilité sans interruption des Pages Web-zy.com ne peut être garantie. De ce fait, l'utilisateur Web-zy.com ne peut exiger un accès permanent aux Pages Web-zy.com. Les restrictions d'accès de nature seulement temporaire ne peuvent pas constituer un motif de demande de garantie ou de rupture exceptionnelle du contrat. Parallèlement aux restrictions d'accès possibles liées à des facteurs extérieurs échappant au contrôle du fournisseur de service, le fournisseur de service se réserve également le droit d'imposer des restrictions d’accès temporaires et/ou complètes, notamment lorsque le site Web-zy.com est temporairement indisponible dans le but d'une maintenance ou dans le but de mettre en place des améliorations techniques ou encore d'éliminer des erreurs ou des dysfonctionnements.
            </p>
            <p><span class="cgu_num">6.2.</span> Dans le but de s'assurer du bon fonctionnement des Pages Web-zy.com, un certain nombre d'améliorations du système est nécessaire. Toute responsabilité du fournisseur de service pour interruptions des services causées par des configurations différentes du système est exclue.
            </p>
            <br><br>

            <h2>7. Responsabilité</h2>
            <p><span class="cgu_num">7.1.</span> La responsabilité du fournisseur de service ne pourra pas être engagée concernant toute perte de données par l'utilisateur ou pour accès non-autorisé aux informations personnelles de l'utilisateur par des tiers (cf. pirates informatiques).
            </p>
            <p><span class="cgu_num">7.2.</span> Le fournisseur de service ne peut pas non plus être tenu responsable en cas d'abus par des tiers des données et informations rendues accessibles par les utilisateurs eux-mêmes.
            </p>
            <p>
            <span class="cgu_num">7.3.</span> Le fournisseur de service n'est pas responsable des activités des utilisateurs Web-zy.com ou des contenus qu'ils proposent.
            </p>
            <p><span class="cgu_num">7.4.</span> Le fournisseur de service ne peut être tenu responsable de pertes financières ou autres dommages émanant d'un défaut de fonctionnement ou d'une indisponibilité du système Web-zy.com. A l'exception d'atteinte à la vie, au corps ou à la santé d'une personne physique, toute prétention au versement de dommages et intérêts par la société DESICO SARL est exclue. Cette exclusion ne couvre pas les dommages dus à une négligence grave de la part de la société DESICO SARL ou à une violation intentionnelle ou gravement négligente de ses devoirs par un représentant légal ou un employé de la société DESICO SARL.
            </p>
            <p>
            <span class="cgu_num">7.5.</span> Toute responsabilité du fournisseur de service ou de fournisseurs affiliés sera limitée au montant correspondant aux honoraires d'une année de service.
            </p>
            <br><br>

            <h2>8. Protection des données</h2>
            <p><span class="cgu_num">8.1.</span> Le fournisseur de service collectera, traitera et utilisera les informations personnelles concernant les utilisateurs Web-zy.com. </p>
            <p><span class="cgu_num">8.2.</span> L'utilisateur Web-zy.com est conscient du fait que d'un point de vue technique, le fournisseur de service est en mesure de voir certaines des données enregistrées sur les serveurs qu'il met à disposition des utilisateurs Web-zy.com, et qu'il existe une possibilité théorique que des tiers aient accès aux informations de l'utilisateur Web-zy.com au moment de la transmission de ces données sur internet.
            </p>
            <br><br>

            <h2>9. Rétractation</h2>
            <p>L’utilisateur Web-zy.com peut révoquer le contrat qui le lie avec le fournisseur de service dans les 14 jours qui suit la conclusion du dit contrat. 
            La Commission européenne propose désormais une plate-forme pour la résolution de litiges en ligne, disponible en cliquant ici. Veuillez noter que nous n'avons aucun lien avec cette plate-forme.
            </p>
            <br><br>

            <h2>10. Dispositions finales</h2>
            <p><span class="cgu_num">10.1</span> Dans l'hypothèse où certaines dispositions individuelles de ce contrat seraient ou deviendraient nulles, la validité des dispositions restantes restera inchangée.
            </p>
            <p><span class="cgu_num">10.2.</span> Ces TCG et ce contrat sont régis par la loi de la République Française. Ceci s'applique également aux utilisateurs Web-zy.com qui s'inscrivent ou utilisent le service depuis d'autres pays. La juridiction compétente est celle du lieu où le siège social du fournisseur de service est implanté.
            </p>


        </div>
    </div>
    
{% endblock %}
